[submodule "lad1337.pretty"]
	path = lad1337.pretty
	url = https://github.com/lad1337/lad1337.pretty
[submodule "Panelization.pretty"]
	path = Panelization.pretty
	url = https://github.com/madworm/Panelization.pretty
